* {
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --maincolor: #192F5D !important;
  --secondaryColor: #E9D16F !important;
  font-size: 14px;
  font-family: 'Mulish';
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.navbar-nav {
  align-items: flex-start;
}

.navbar-dark .navbar-toggler {
  background-color: var(--maincolor);
}

.navbtnlinks a {
  color: white !important;
  font-size: 1em;
  font-weight: normal;
}

.navbtnlinks a:hover {
  color: var(--secondaryColor);
  text-decoration: none;
  transition: all .3s ease-in;
}

.navbtnlinks li {
  margin-right: 25px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

 .lang_setting .dropdown-item.active, .dropdown-item:active {
    color: white!important;
    text-decoration: none;
    background-color: var(--maincolor);
 }

 .lang_setting .dropdown-center:hover .dropdown-menu {
    display: block;
    left: -25%;
    min-width: fit-content;
    width: fit-content;
    padding: 0 !important;
    top: 95%;
 }

/*  new */

.bg-secondary-color {
  background-color: var(--secondaryColor) !important;
}
.bg-primary-color {
  background-color: var(--maincolor) !important;
}

.dropdown-toggle::after {
  display: none;
}
.lang_setting .dropdown-toggle:hover,
.lang_setting .dropdown-item:hover {
  cursor: pointer;
}
.nav-item a:hover {
  text-decoration: none;
}
.nav-item.bg-white:hover a {
  color: var(--secondaryColor) !important;
  font-weight: bold;
}
.nav-item.bg-white:hover {
  box-shadow: 0 1px 1px 1px #0002;
  background-color: var(--maincolor) !important;
  padding-left: 0.85rem !important;
  padding-right: 0.85rem !important;
}
.nav-item.bg-white {
  border-radius: 2px;
  box-shadow: 0 1px 1px 1px #0001;
}
.nav-item a {
  color: var(--bs-body-color);
}
.navbar {
  justify-content: flex-end;
}
.navbar-collapse {
  flex-grow: unset !important;
}
@media (min-width:1200px){
  .px-lg-10 {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }
}
@media (max-width:768px) {
  .overview div.col-md-4:nth-child(odd) {
    width: 100% !important;
    border-radius: 0 !important;
    border: 1px solid white !important;
  }
  .overview div.col-md-4:nth-child(even) {
    border-radius: 0 !important;
    width: 100% !important;
  }  
}
@media (min-width:768px) and (max-width:992px) {
  .section_divide_2 {
    border-left: none !important;
    border-top: 2px solid #00000033 !important;
    width: 60% !important;
    margin: -1px auto !important;
    text-align: center;
  }
}
@media (max-width:767px){
  .section_divide_1 {
    border-left: none !important;
    border-top: 2px solid #00000033 !important;
    width: 60% !important;
    margin: -1px auto !important;
    text-align: center;
  }
  .section_divide_2 {
    border-left: none !important;
    border-top: 2px solid #00000033 !important;
    width: 60% !important;
    margin: -1px auto !important;
    text-align: center;
  }
  .strategy-img img {
    max-width: 120px;
  }
  .header_side {
    margin-bottom: 2rem !important;
  }
  .bg-img-7 {
    background-size: auto 100% !important;
  }
}

section {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}
.text-primary-color {
  color: var(--maincolor) !important;
}
.text-secondary-color {
  color: var(--secondaryColor) !important;
}
.bg-img-1 {
  background: url(../images/section-bg-1.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-2 {
  background: linear-gradient(0deg, rgba(25, 47, 93, 0.54), rgba(25, 47, 93, 0.54)), url(../images/section-bg-2.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url(../images/section-bg-3.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-4 {
  background: linear-gradient(0deg, rgba(25, 47, 93, 0.86), rgba(25, 47, 93, 0.86)), url(../images/section-bg-4.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-5 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/section-bg-5.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-6 {
  background: linear-gradient(0deg, rgba(25, 47, 93, 0.54), rgba(25, 47, 93, 0.54)), url(../images/section-bg-6.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-7 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url(../images/section-bg-7.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-8 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/section-bg-8.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.border-top-footer {
  height: 5px;
  background: radial-gradient(53.25% 12267999.43% at 53.25% 33.21%, #E9D16F 0%, rgba(25, 47, 93, 0) 100%);
}
.navbar-collapse .nav-item:hover a {
  color: var(--maincolor) !important;
  font-weight: bold !important;
}
.navbar-collapse .nav-item {
  width: 100% !important;
  min-width: 110px;
}
.navbar-collapse .nav-item:hover {
  background: white !important;
  width: 100% !important;
}
.fs-7 {
  font-size: 0.85rem !important;
}
.bg-red {
  background: red;
}
.text-black {
  color: black !important;
  font-weight: 500;
}
.px-6 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.bg-white-10 {
  background-color: #ffffff1a !important;
}
.overview div.col-md-4:nth-child(odd) {
  width: 30%;
  height: 85%;
}
.overview div.col-md-4:nth-child(even) {
  width: 40%;
}
.bg-white.shadow-sm {
  box-shadow: 0 0 2px 3px rgba(0,0,0,.04)!important;
  --bs-bg-opacity: 0.5;
}
.bg-black-gradient.position-absolute {
  bottom: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) -25.2%, #000000 100%) !important;
  height: 30%;
  left: 0;
}
.fa.fa-star {
  width: 15px;
  height: 15px;
}
.strategy_number {
  top: -15px;
  left: 10px;
  width: fit-content;
}
.section_divide_1 {
  border: none;
  border-left: 2px solid #00000033;
  opacity: 1;
  height: auto;
  width: 0;
  margin: 3rem -1px;
  padding: 0;
}
.section_divide_2 {
  border: none;
  border-left: 2px solid #00000033;
  opacity: 1;
  height: auto;
  width: 0;
  margin: 3rem -1px;
  padding: 0;
}
.section_divide_horizental {
  border: none;
  border-left: none !important;
  border-top: 2px solid #00000033 !important;
  width: 60% !important;
  margin: -1px auto !important;
  text-align: center;
}
.bg-secondary-gradient {
  background: linear-gradient(90deg, #E9D16F 70.32%, #FFFFFF 95.2%);
}
.bg-secondary-gradient-bar {
  background: linear-gradient(0deg, #E9D16F 0%, rgba(255, 255, 255, 0.79) 150.76%);
}