* {
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --maincolor: #192F5D !important;
  --secondaryColor: #E9D16F !important;
  font-size: 1em !important;
  font-family: 'Mulish';
  --bs-body-font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.navbar-nav {
  align-items: flex-start;
}

.navbar-dark .navbar-toggler {
  background-color: var(--maincolor);
}

.navbtnlinks a {
  color: white !important;
  font-size: 1em;
  font-weight: normal;
}

.navbtnlinks a:hover {
  color: var(--secondaryColor);
  text-decoration: none;
  transition: all .3s ease-in;
}

.navbtnlinks li {
  margin-right: 1.8em;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

 .lang_setting .dropdown-item.active, .dropdown-item:active {
    color: white!important;
    text-decoration: none;
    background-color: var(--maincolor);
 }

 .lang_setting .dropdown-center:hover .dropdown-menu {
    display: block;
    left: -25%;
    min-width: fit-content;
    width: fit-content;
    padding: 0 !important;
    top: 95%;
 }

/*  new */

.bg-secondary-color {
  background-color: var(--secondaryColor) !important;
}
.bg-primary-color {
  background-color: var(--maincolor) !important;
}

.dropdown-toggle::after {
  display: none;
}
.lang_setting .dropdown-toggle:hover,
.lang_setting .dropdown-item:hover {
  cursor: pointer;
}
.nav-item a:hover {
  text-decoration: none;
}
.nav-item.bg-white:hover a {
  color: var(--secondaryColor) !important;
  font-weight: bold;
}
.nav-item.bg-white:hover {
  box-shadow: 0 0.075em 0.075em 0.075em #0002;
  background-color: var(--maincolor) !important;
  padding-left: 0.85em !important;
  padding-right: 0.85em !important;
}
.nav-item.bg-white {
  border-radius: 0.15em;
  box-shadow: 0 0.075em 0.075em 0.075em #0001;
}
.nav-item a {
  color: var(--bs-body-color);
}
.navbar {
  justify-content: flex-end;
}
.navbar-collapse {
  flex-grow: unset !important;
}
@media (min-width:1200px) {
  nav.px-lg-10,
  div.px-lg-10,
  section.px-lg-10 {
    padding-left: 6em !important;
    padding-right: 6em !important;
  }
}
@media (min-width:2896px) {
  .fs-7 {
    font-size: 0.85em !important;
  }
}
@media (min-width:1496px) {
  :root {
    --bs-body-font-size: calc(0.3rem + 1vw) !important;
  }
  .btn {
    --bs-btn-padding-x: 0.75em;
    --bs-btn-padding-y: 0.375em;
    --bs-btn-font-size: 1em;
    --bs-btn-border-width: 0.075em;
    --bs-btn-border-radius: 0.375em;
    --bs-btn-box-shadow: inset 0 0.075em 0 rgba(255, 255, 255, 0.15),0 0.075em 0.075em rgba(0, 0, 0, 0.075);
    --bs-btn-focus-box-shadow: 0 0 0 0.25em rgba(var(--bs-btn-focus-shadow-rgb), .5);
  }
}
@media (max-width:768px) {
  .overview div.col-md-4:nth-child(odd) {
    width: 100% !important;
    border-radius: 0 !important;
    border: 1px solid white !important;
  }
  .overview div.col-md-4:nth-child(even) {
    border-radius: 0 !important;
    width: 100% !important;
  }
  #navbarNav {
    padding-top: 1em !important;
  }
}
@media (min-width:768px) and (max-width:1024px) {
  .section_divide_2 {
    border-left: none !important;
    border-top: 0.15em solid #00000033 !important;
    width: 60% !important;
    margin: -0.075em auto !important;
    text-align: center;
  }
}
@media (max-width:767px){
  .section_divide_1 {
    border-left: none !important;
    border-top: 0.15em solid #00000033 !important;
    width: 60% !important;
    margin: -0.075em auto !important;
    text-align: center;
  }
  .section_divide_2 {
    border-left: none !important;
    border-top: 0.15em solid #00000033 !important;
    width: 60% !important;
    margin: -0.075em auto !important;
    text-align: center;
  }
  .strategy-img img {
    max-width: 120px;
  }
  .header_side {
    margin-bottom: 2em !important;
  }
  .bg-img-7 {
    background-size: auto 100% !important;
  }
}
@media (min-width: 576px) {
  .ps-sm-1 {
      padding-left: 0.25em !important;
  }
  .pe-sm-1 {
      padding-right: 0.25em !important;
  }
  .pt-sm-1 {
      padding-top: 0.25em !important;
  }
  .pb-sm-1 {
      padding-bottom: 0.25em !important;
  }
  .p-sm-1 {
      padding: 0.25em !important;
  }
  .px-sm-1 {
      padding-left: 0.25em !important;
      padding-right: 0.25em !important;
  }
  .py-sm-1 {
      padding-top: 0.25em !important;
      padding-bottom: 0.25em !important;
  }
  .ps-sm-2 {
      padding-left: 0.5em !important;
  }
  .pe-sm-2 {
      padding-right: 0.5em !important;
  }
  .pt-sm-2 {
      padding-top: 0.5em !important;
  }
  .pb-sm-2 {
      padding-bottom: 0.5em !important;
  }
  .p-sm-2 {
      padding: 0.5em !important;
  }
  .px-sm-2 {
      padding-left: 0.5em !important;
      padding-right: 0.5em !important;
  }
  .py-sm-2 {
      padding-top: 0.5em !important;
      padding-bottom: 0.5em !important;
  }
  .ps-sm-3 {
      padding-left: 1em !important;
  }
  .pe-sm-3 {
      padding-right: 1em !important;
  }
  .pt-sm-3 {
      padding-top: 1em !important;
  }
  .pb-sm-3 {
      padding-bottom: 1em !important;
  }
  .p-sm-3 {
      padding: 1em !important;
  }
  .px-sm-3 {
      padding-left: 1em !important;
      padding-right: 1em !important;
  }
  .py-sm-3 {
      padding-top: 1.5em !important;
      padding-bottom: 1.5em !important;
  }
  .ps-sm-4 {
      padding-left: 1.5em !important;
  }
  .pe-sm-4 {
      padding-right: 1.5em !important;
  }
  .pt-sm-4 {
      padding-top: 1.5em !important;
  }
  .pb-sm-4 {
      padding-bottom: 1.5em !important;
  }
  .p-sm-4 {
      padding: 1.5em !important;
  }
  .px-sm-4 {
      padding-left: 1.3em !important;
      padding-right: 1.3em !important;
  }
  .py-sm-4 {
      padding-top: 3em !important;
      padding-bottom: 3em !important;
  }
  .ps-sm-5 {
      padding-left: 3em !important;
  }
  .pe-sm-5 {
      padding-right: 3em !important;
  }
  .pt-sm-5 {
      padding-top: 3em !important;
  }
  .pb-sm-5 {
      padding-bottom: 3em !important;
  }
  .p-sm-5 {
      padding: 3em !important;
  }
  .px-sm-5 {
      padding-left: 3em !important;
      padding-right: 3em !important;
  }
  .py-sm-5 {
      padding-top: 3em !important;
      padding-bottom: 3em !important;
  }
  .ms-sm-1 {
      margin-left: 0.25em !important;
  }
  .me-sm-1 {
      margin-right: 0.25em !important;
  }
  .mt-sm-1 {
      margin-top: 0.25em !important;
  }
  .mb-sm-1 {
      margin-bottom: 0.25em !important;
  }
  .m-sm-1 {
      margin: 0.25em !important;
  }
  .mx-sm-1 {
      margin-left: 0.25em !important;
      margin-right: 0.25em !important;
  }
  .my-sm-1 {
      margin-top: 0.25em !important;
      margin-bottom: 0.25em !important;
  }
  .ms-sm-2 {
      margin-left: 0.5em !important;
  }
  .me-sm-2 {
      margin-right: 0.5em !important;
  }
  .mt-sm-2 {
      margin-top: 0.5em !important;
  }
  .mb-sm-2 {
      margin-bottom: 0.5em !important;
  }
  .m-sm-2 {
      margin: 0.5em !important;
  }
  .mx-sm-2 {
      margin-left: 0.5em !important;
      margin-right: 0.5em !important;
  }
  .my-sm-2 {
      margin-top: 0.5em !important;
      margin-bottom: 0.5em !important;
  }
  .ms-sm-3 {
      margin-left: 1em !important;
  }
  .me-sm-3 {
      margin-right: 1em !important;
  }
  .mt-sm-3 {
      margin-top: 1em !important;
  }
  .mb-sm-3 {
      margin-bottom: 1em !important;
  }
  .m-sm-3 {
      margin: 1em !important;
  }
  .mx-sm-3 {
      margin-left: 1em !important;
      margin-right: 1em !important;
  }
  .my-sm-3 {
      margin-top: 1.5em !important;
      margin-bottom: 1.5em !important;
  }
  .ms-sm-4 {
      margin-left: 1.5em !important;
  }
  .me-sm-4 {
      margin-right: 1.5em !important;
  }
  .mt-sm-4 {
      margin-top: 1.5em !important;
  }
  .mb-sm-4 {
      margin-bottom: 1.5em !important;
  }
  .m-sm-4 {
      margin: 1.5em !important;
  }
  .mx-sm-4 {
      margin-left: 1.5em !important;
      margin-right: 1.5em !important;
  }
  .my-sm-4 {
      margin-top: 3em !important;
      margin-bottom: 3em !important;
  }
  .ms-sm-5 {
      margin-left: 3em !important;
  }
  .me-sm-5 {
      margin-right: 3em !important;
  }
  .mt-sm-5 {
      margin-top: 3em !important;
  }
  .mb-sm-5 {
      margin-bottom: 3em !important;
  }
  .m-sm-5 {
      margin: 3em !important;
  }
  .mx-sm-5 {
      margin-left: 3em !important;
      margin-right: 3em !important;
  }
  .my-sm-5 {
      margin-top: 3em !important;
      margin-bottom: 3em !important;
  }
}
section {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}
.text-primary-color {
  color: var(--maincolor) !important;
}
.text-secondary-color {
  color: var(--secondaryColor) !important;
}
.bg-img-coming {
  background: url(../images/coming.png) no-repeat center;
  background-size: cover;
  position: relative;
  min-height: 100vh !important;
}
.bg-img-1 {
  background: url(../images/section-bg-1.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-2 {
  background: linear-gradient(0deg, rgba(25, 47, 93, 0.54), rgba(25, 47, 93, 0.54)), url(../images/section-bg-2.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url(../images/section-bg-3.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-4 {
  background: linear-gradient(0deg, rgba(25, 47, 93, 0.86), rgba(25, 47, 93, 0.86)), url(../images/section-bg-4.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-5 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/section-bg-5.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-6 {
  background: linear-gradient(0deg, rgba(25, 47, 93, 0.54), rgba(25, 47, 93, 0.54)), url(../images/section-bg-6.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-7 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url(../images/section-bg-7.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.bg-img-8 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/section-bg-8.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.border-top-footer {
  height: 0.38em;
  background: radial-gradient(53.25% 12267999.43% at 53.25% 33.21%, #E9D16F 0%, rgba(25, 47, 93, 0) 100%);
}
.navbar-collapse .nav-item:hover a {
  color: var(--maincolor) !important;
  font-weight: bold !important;
}
.navbar-collapse .nav-item {
  width: 100% !important;
  min-width: 7em;
}
.navbar-collapse .nav-item:hover {
  background: white !important;
  width: 100% !important;
}
h1 {
  font-size: 2.5em !important;
}
h2 {
  font-size: 2em !important;
}
h3 {
  font-size: 1.75em !important;
}
h4 {
  font-size: 1.5em !important;
}
h5 {
  font-size: 1.25em !important;
}
h6 {
  font-size: 1em !important;
}
.fs-1 {
  font-size: 2.5em !important;
}
.fs-2 {
  font-size: 2em !important;
}
.fs-3 {
  font-size: 1.75em !important;
}
.fs-4 {
  font-size: 1.5em !important;
}
.fs-5 {
  font-size: 1.25em !important;
}
.fs-6 {
  font-size: 1em !important;
}
.fs-7 {
  font-size: 0.75em;
}
.bg-red {
  background: red;
}
.text-black {
  color: black !important;
  font-weight: 500;
}

.bg-white-10 {
  background-color: #ffffff1a !important;
}
.overview div.col-md-4:nth-child(odd) {
  width: 30%;
  height: 85%;
}
.overview div.col-md-4:nth-child(even) {
  width: 40%;
}
.bg-white.shadow-sm {
  box-shadow: 0 0 0.15em 0.23em rgba(0,0,0,.04)!important;
  --bs-bg-opacity: 0.5;
}
.bg-black-gradient.position-absolute {
  bottom: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) -25.2%, #000000 100%) !important;
  height: 30%;
  left: 0;
}
.fa.fa-star {
  width: 1.05em;
  height: 1.05em;
}
.strategy_number {
  top: -1.05em;
  left: 0.8em;
  width: fit-content;
}
.section_divide_1 {
  border: none;
  border-left: 0.15em solid #00000033;
  opacity: 1;
  height: auto;
  width: 0;
  margin: 3em -0.075em;
  padding: 0;
}
.section_divide_2 {
  border: none;
  border-left: 0.15em solid #00000033;
  opacity: 1;
  height: auto;
  width: 0;
  margin: 3em -0.075em;
  padding: 0;
}
.section_divide_horizental {
  border: none;
  border-left: none !important;
  border-top: 0.15em solid #00000033 !important;
  width: 60% !important;
  margin: -0.075em auto !important;
  text-align: center;
}
.bg-secondary-gradient {
  background: linear-gradient(90deg, #E9D16F 70.32%, #FFFFFF 95.2%);
}
.bg-secondary-gradient-bar {
  background: linear-gradient(0deg, #E9D16F 0%, rgba(255, 255, 255, 0.79) 150.76%);
}
.p-1 {
  padding: 0.25em !important;
}
.p-2 {
  padding: 0.5em !important;
}
.p-3 {
  padding: 1em !important;
}
.p-4 {
  padding: 1.5em !important;
}
.p-5 {
  padding: 3em !important;
}
.ps-1 {
  padding-left: 0.25em !important;
}
.ps-2 {
  padding-left: 0.5em !important;
}
.ps-3 {
  padding-left: 1em !important;
}
.ps-4 {
  padding-left: 1.5em !important;
}
.ps-5 {
  padding-left: 3em !important;
}
.pe-1 {
  padding-right: 0.25em !important;
}
.pe-2 {
  padding-right: 0.5em !important;
}
.pe-3 {
  padding-right: 1em !important;
}
.pe-4 {
  padding-right: 1.5em !important;
}
.pe-5 {
  padding-right: 3em !important;
}
.pt-1 {
  padding-top: 0.25em !important;
}
.pt-2 {
  padding-top: 0.5em !important;
}
.pt-3 {
  padding-top: 1em !important;
}
.pt-4 {
  padding-top: 1.5em !important;
}
.pt-5 {
  padding-top: 3em !important;
}
.pb-1 {
  padding-bottom: 0.25em !important;
}
.pb-2 {
  padding-bottom: 0.5em !important;
}
.pb-3 {
  padding-bottom: 1em !important;
}
.pb-4 {
  padding-bottom: 1.5em !important;
}
.pb-5 {
  padding-bottom: 3em !important;
}
.px-1 {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
}
.px-2 {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}
.px-3 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.px-4 {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}
.px-5 {
  padding-left: 3em !important;
  padding-right: 3em !important;
}
.py-1 {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}
.py-2 {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.py-3 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.py-4 {
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}
.py-5 {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}
.m-1 {
  margin: 0.25em !important;
}
.m-2 {
  margin: 0.5em !important;
}
.m-3 {
  margin: 1em !important;
}
.m-4 {
  margin: 1.5em !important;
}
.m-5 {
  margin: 3em !important;
}
.ms-1 {
  margin-left: 0.25em !important;
}
.ms-2 {
  margin-left: 0.5em !important;
}
.ms-3 {
  margin-left: 1em !important;
}
.ms-4 {
  margin-left: 1.5em !important;
}
.ms-5 {
  margin-left: 3em !important;
}
.me-1 {
  margin-right: 0.25em !important;
}
.me-2 {
  margin-right: 0.5em !important;
}
.me-3 {
  margin-right: 1em !important;
}
.me-4 {
  margin-right: 1.5em !important;
}
.me-5 {
  margin-right: 3em !important;
}
.mt-1 {
  margin-top: 0.25em !important;
}
.mt-2 {
  margin-top: 0.5em !important;
}
.mt-3 {
  margin-top: 1em !important;
}
.mt-4 {
  margin-top: 1.5em !important;
}
.mt-5 {
  margin-top: 3em !important;
}
.mb-1 {
  margin-bottom: 0.25em !important;
}
.mb-2 {
  margin-bottom: 0.5em !important;
}
.mb-3 {
  margin-bottom: 1em !important;
}
.mb-4 {
  margin-bottom: 1.5em !important;
}
.mb-5 {
  margin-bottom: 3em !important;
}
.mx-1 {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
}
.mx-2 {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}
.mx-3 {
  margin-left: 1em !important;
  margin-right: 1em !important;
}
.mx-4 {
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
}
.mx-5 {
  margin-left: 3em !important;
  margin-right: 3em !important;
}
.my-1 {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}
.my-2 {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.my-3 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
.my-4 {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}
.my-5 {
  margin-top: 3em !important;
  margin-bottom: 3em !important;
}
a.text-decoration-none:hover .btn.bg-success {
  background-color: #117848 !important;
}
a.text-decoration-none:hover .btn.bg-primary-color {
  background-color: #082050 !important;
}
a.text-decoration-none:hover .btn.bg-secondary-color{
  background-color: #e0c247 !important;
}
a.text-decoration-none:hover {
  transform: scale(1.02);
}